
color-lighter = #f7f7f7
color-light = #9a9a9a
color-dark = #4b4b4b
color-darker = #292929
color-primary = #009ee0
color-primary-darker = #0082b8
color-secondary = #173753
color-secondary-darker = #15324c

spacing-huge = 4rem
spacing-large = 2rem
spacing-medium = 1rem
spacing-small = 1ch
spacing-tiny = 0.4ch

font-size-huge = 2.2em
font-size-large = 1.2em
font-size-normal = 1em
font-size-small = 0.8em
font-size-tiny = 0.6em

font-size-h1 = font-size-huge
font-size-h2 = 1.8em
font-size-h3 = 1.6em
font-size-h4 = 1.4em
font-size-h5 = font-size-large
font-size-h6 = 1.1em
font-size-p = font-size-normal

font-family-serif = 'Noto Serif', serif
font-family-sans-serif = 'Source Sans Pro', sans-serif
font-family-monospace = 'Fira Code', monospace
