/* @theme uniri */
@import-theme 'default';
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap");
section {
  background-color: #f7f7f7;
  color: #292929;
  align-items: stretch;
  line-height: 1.3rem;
  --section-pad-left-extra: 0%;
  --section-pad-right-extra: 0%;
  padding: calc(2.2em + 2ch) calc(var(--section-pad-right-extra) + 2rem) calc(0.8em + 2ch) calc(var(--section-pad-left-extra) + 2rem);
}
section.space-start {
  justify-content: flex-start;
}
section.space-end {
  justify-content: flex-end;
}
section.space-even {
  justify-content: space-evenly;
}
section.align-center {
  align-items: center;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  font-family: 'Noto Serif', serif;
}
section h1 {
  font-size: text-size-h1;
  color: #173753;
}
section h2,
section h3,
section h4,
section h5,
section h6 {
  color: #15324c;
}
section h2 {
  font-size: text-size-h2;
}
section h3 {
  font-size: text-size-h3;
}
section h4 {
  font-size: text-size-h4;
}
section h5 {
  font-size: text-size-h5;
}
section h6 {
  font-size: text-size-h6;
}
section h1:first-of-type {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
section p,
section a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: text-size-normal;
  color: #292929;
}
section a {
  color: #0082b8;
}
section li ul,
section li + li {
  margin-top: 0.4ch;
}
section hr {
  margin: 0.1em auto 0.25em auto;
  padding-top: 2px;
  width: 90%;
  background-color: #009ee0;
}
section code,
section :is(pre,
section marp-pre) {
  background-color: #fff;
  color: #292929;
  font-family: 'Fira Code', monospace;
  border: solid 2px #0082b8;
  border-radius: 1ch;
  padding: 1ch;
  max-height: 100%;
}
section code,
section code * {
  font-family: 'Fira Code', monospace;
}
section code {
  border-radius: 0.4ch;
  padding: 0.4ch;
}
section img {
  background: transparent;
}
section header,
section footer {
  display: block;
  font-family: 'Fira Code', monospace;
  font-size: 0.6em;
  color: #9a9a9a;
}
section header {
  width: calc(100% - 2rem);
  text-align: right;
  top: 1ch;
}
section footer {
  bottom: 1ch;
}
section::after {
  position: absolute;
  right: 1rem;
  bottom: 1ch;
  color: #4b4b4b;
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
}
section.author-page {
  padding-left: calc(2rem + 15% + 2rem);
  justify-content: flex-start;
}
section.author-page img.profile {
  position: absolute;
  top: 3em;
  left: 0;
  width: 15%;
  margin: 2rem;
  padding: 0.2rem;
  outline: solid 2px #009ee0;
  border-radius: 100vw;
}
section.lead {
  background-color: #0082b8;
  color: #f7f7f7;
  padding-left: 50%;
}
section.lead h1 {
  position: initial;
  top: initial;
  left: initial;
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Noto Serif', serif;
  color: #f7f7f7;
}
section.lead h2,
section.lead h3 {
  font-size: 1em;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f7f7f7;
}
section.lead h2::before,
section.lead h3::before {
  display: inline-block;
  padding-right: 0.5ch;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Noto Serif', serif;
  color: #15324c;
  content: "autor:";
}
section.lead h3::before {
  content: "mentor:";
}
section.lead header,
section.lead footer,
section.lead::after {
  display: none;
}
section.lead ul.owners {
  list-style-type: none;
  padding-left: 0;
}
section.lead ul.owners li {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
}
section.lead ul.owners li.removed {
  text-decoration: line-through;
}
section.lead ul.owners li::before {
  display: inline-block;
  padding-right: 0.5ch;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Lora', serif;
  color: #15324c;
}
section.lead ul.owners li[data-author]::before {
  content: "autor:";
}
section.lead ul.owners li[data-mentor]::before {
  content: "mentor:";
}
section.lead::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  aspect-ratio: 1/1;
  background: url("./assets/logo-light.png");
  background: url("./assets/logo-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: translateY(-50%);
}
section.part {
  background-color: #15324c;
  align-items: center;
  padding-top: calc(0.6em + 2ch);
}
section.part h1 {
  position: initial;
  left: initial;
  top: initial;
  color: #f7f7f7;
}
section.part header,
section.part footer {
  color: #f7f7f7;
  text-align: center;
}
section.part::after {
  display: none;
}
