/* @theme uniri */
@import-theme 'default';
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap");
section {
  background-color: #f7f7f7;
  color: #292929;
  padding: 4rem 2rem 2.2rem 2rem;
  align-items: stretch;
  line-height: 1.3rem;
}
section.space-start {
  justify-content: flex-start;
}
section.space-end {
  justify-content: flex-end;
}
section.space-even {
  justify-content: space-evenly;
}
section.align-center {
  align-items: center;
}
section * {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  font-family: 'Noto Serif', serif;
}
section h1 {
  font-size: 2.2em;
  color: #173753;
}
section h2,
section h3,
section h4,
section h5,
section h6 {
  color: #15324c;
}
section h2 {
  font-size: 1.8em;
}
section h3 {
  font-size: 1.6em;
}
section h4 {
  font-size: 1.4em;
}
section h5 {
  font-size: 1.2em;
}
section h6 {
  font-size: 1.1em;
}
section h1:first-of-type {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
section hr {
  margin: 0.1em auto 0.25em auto;
  padding-top: 2px;
  width: 90%;
  background-color: #009ee0;
}
section a {
  color: #0082b8;
}
section code,
section code * {
  font-family: 'Fira Code', monospace;
}
section img {
  background: transparent;
}
section footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  left: 1rem;
  bottom: 0.8rem;
}
section.image-fill img:first-of-type {
  position: absolute;
  left: 50%;
  top: 55%;
  height: 70%;
  background: transparent;
  transform: translateX(-50%) translateY(-50%);
}
section.image-left {
  padding-left: calc(50% + 2rem);
}
section.image-left footer {
  left: calc(50% + 1rem);
}
section.image-left h1:first-of-type {
  left: calc(50% + 1rem);
}
section.image-left img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
section.author-page {
  padding-left: calc(2rem + 15% + 2rem);
  justify-content: flex-start;
}
section.author-page img.profile {
  position: absolute;
  top: 3em;
  left: 0;
  width: 15%;
  margin: 2rem;
  padding: 0.2rem;
  outline: solid 2px #009ee0;
  border-radius: 100vw;
}
section.lead {
  background-color: #0082b8;
  color: #f7f7f7;
  padding-left: 50%;
}
section.lead h1 {
  position: initial;
  top: initial;
  left: initial;
  font-size: 2rem;
  font-weight: bold;
  color: #f7f7f7;
}
section.lead h2 {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  color: #f7f7f7;
}
section.lead h2::before {
  display: inline-block;
  padding-right: 0.5ch;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Lora', serif;
  color: #15324c;
  content: "autor:";
}
section.lead footer {
  display: none;
}
section.lead ul.owners {
  list-style-type: none;
  padding-left: 0;
}
section.lead ul.owners li {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
}
section.lead ul.owners li.removed {
  text-decoration: line-through;
}
section.lead ul.owners li::before {
  display: inline-block;
  padding-right: 0.5ch;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Lora', serif;
  color: #15324c;
}
section.lead ul.owners li[data-author]::before {
  content: "autor:";
}
section.lead ul.owners li[data-mentor]::before {
  content: "mentor:";
}
section.lead::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  aspect-ratio: 1/1;
  background: url("./assets/logo-light.png");
  background: url("./assets/logo-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform: translateY(-50%);
}
